.text-gradient{
    font-weight: 900;
    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    background-size: 300%;
    animation: bg-animation 10s infinite alternate;
}
.bg-gradient{
    background-image: var(--gradient);
    background-size: 300%;
    animation: bg-animation 10s infinite alternate;
}
.btn-gradient{
    color: white;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
}
.btn-gradient:hover{
    background-position: right;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}